body {
    margin: 0;
    background: url(./assets/medow.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    font-family: 'Alkatra', cursive;
    font-size: xx-large;
    color: rgb(255, 217, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
